<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RhinoCommon" publicKeyToken="552281e97c755530" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.23.22282.13001" newVersion="7.23.22282.13001" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Rhino.UI" publicKeyToken="552281e97c755530" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.23.22282.13001" newVersion="7.23.22282.13001" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ScottPlot" publicKeyToken="86698dc10387c39e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.51.0" newVersion="4.1.51.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.5" newVersion="6.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Eto" publicKeyToken="552281e97c755530" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.0" newVersion="2.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
	<!--自定义配置节点，configSource指定自定义配置文件的路径（必须是相对路径）--><!--
	<MyConfigData configSource="ConfigFiles\SetColorLayer.cfg"/>-->
</configuration>